# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\home\github\scala-the-big-picture\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
